# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# ------------------------------
# Environment Variables
# ------------------------------
.env

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Build / Distribution
# ------------------------------
build/
dist/
*.egg-info/

# ------------------------------
# Jupyter
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# Vector Database
# ------------------------------
chroma-store/
*.sqlite3
*.db

# ------------------------------
# Uploaded Documents (optional)
# ------------------------------
uploads/

# ------------------------------
# Testing
# ------------------------------
.pytest_cache/
coverage/



# ------------------------------
# Docs
# ------------------------------

docs/